@font-face {
    font-family: 'service-list-font';
    src: url(../../../Assets/Fonts/SecularOne-Regular.ttf);
}

.Home>h2 {
    font-family: 'service-list-font';
    font-size: 35px;
    color: white;
}

.Home>.ServiceListContainer {
    display: inline-block;
    text-align: right;
}

.Home >.ServiceListContainer>span {
    font-family: 'service-list-font';
    color: white;
    font-size: x-large;
}