html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(181, 231, 160, 0.6), rgba(227, 234, 167, 0.3)), 
    url('./Assets/Images/background-image.jpg');
    background-size: cover;
    background-position: center;
}

a {
    color: blue;
}